@page
@attribute [RequestSizeLimitAttribute(268435456)]
@model ImportOPMLModel
@{
    ViewData["Title"] = "Importa OPML";
}

<h2>Importa OPML</h2>

<form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
    <dl>
        <dt>
            <label asp-for="@Model.OpmlFile">Seleziona il file OPML:</label>
        </dt>
        <dd>
            <input asp-for="@Model.OpmlFile" type="file">
            <span asp-validation-for="@Model.OpmlFile"></span>
        </dd>
    </dl>
    <button type="submit" class="btn btn-primary">Importa</button>
</form>

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-info mt-3" role="alert">
        @TempData["Message"]
    </div>
}
@if (!string.IsNullOrEmpty(TempData["FileUploadError"] as string))
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["FileUploadError"]
    </div>
}
