@page
@model IndexModel
@{
    ViewData["Title"] = "Elenco articoli";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="30" /> <!-- Aggiornamento ogni 30 secondi -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-4">
        <h3 class="text-center">Elenco articoli</h3>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titolo</th>
                            <th>Data di pubblicazione</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contenuti)
                        {
                            <tr>
                                <td>
                                    <a href="/DettItem?idd=@item.Id" target="_blank">@item.Titolo</a>
                                </td>
                                <td>
                                    @item.DataPubblicazione?.ToString("dd/MM/yyyy HH:mm")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(Model.PaginaCorrente == 1 ? "disabled" : "")">
                            <a class="page-link" href="?pagina=1" tabindex="-1">Prima</a>
                        </li>
                        @for (int i = Math.Max(1, Model.PaginaCorrente - 5); i <= Math.Min(Model.NumeroPagine, Model.PaginaCorrente + 5); i++)
                        {
                            <li class="page-item @(Model.PaginaCorrente == i ? "active" : "")">
                                <a class="page-link" href="?pagina=@i">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.PaginaCorrente == Model.NumeroPagine ? "disabled" : "")">
                            <a class="page-link" href="?pagina=@Model.NumeroPagine">Ultima</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
