@page
@model PrivacyModel
@{
    ViewData["Title"] = "Versione";
}
<h1>@ViewData["Title"]</h1>

@Model.Versione</br>
@Model.hashAssembly</br>
@Model.Applicazione</br>
@Model.Ambiente</br>
@Model.Piattaforma</br>
@Model.SOVer</br>
@Model.Configurazione_build</br>
@Model.RuntimeVer</br>
@Model.ClrVersione</br>
@{

}